<footer class="mt-5">
    <div class="container-fluid text-misty-white">
        <div class="row justify-content-center text-left">
            <div class="col-lg-2">
                <h5 class="fw-bold"> Quem somos? </h5>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, alias perspiciatis modi praesentiu</p>
            </div>
            <div class="col-lg-4">
                <h5 class="fw-bold">Onde queremos chegar?</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisi Lorem ipsum dolor sit, amet consectetur adipisi Lorem ipsum dolor sit, amet consectetur adipisi. </p>
            </div>
            

            
            <div class="col-lg-2">
                <h5 class="fw-bold">Redes sociais</h5>
                
                    <a href="#"target="_blank"><i class="fa-brands fa-instagram me-3"></i></a>
                                    
                    <a href="#"><i class="fa-brands fa-github me-3"></i></a>
                                   
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              
            </div>
        </div>
    </div>   
</footer>