<footer class="mt-5">
    <div class="container-fluid text-misty-white">
        <div class="row justify-content-center text-left">
            <div class="col-lg-3">
                <h5 class="fw-bold"> Quem sou eu? </h5>
                <p>Bem-vindos ao universo tecnológico da Bê! Sou uma entusiasta de tecnologia e estudante de Sistemas de Informação.
                    Este blog é meu espaço para compartilhar insights, descobertas e paixões no vasto mundo da tecnologia.</p>
            </div>
            <div class="col-lg-3">
                <h5 class="fw-bold">Onde quero chegar?</h5>
                <p> Busco explorar não apenas as nuances do desenvolvimento de sistemas, mas também promover a presença feminina na tecnologia.
                Meu objetivo é não apenas aprender e evoluir, mas também inspirar outros a se aventurarem no vasto campo da tecnologia.
                    Vamos construir conhecimento, desafiar limites e, quem sabe, transformar paixão em carreira.</p>
            </div>
            

            
            <div class="col-lg-2">
                <h5 class="fw-bold">Redes sociais</h5>
                
                    <a href="https://www.instagram.com/bandreialp/"target="_blank"><i class="fa-brands fa-instagram me-3"></i></a>
                                    
                    <a href="https://github.com/brendaandreia"target="_blank"><i class="fa-brands fa-github me-3"></i></a>
                                   
                    <a href="#"target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
              
            </div>
        </div>
    </div>   
</footer>
