:root{

--ligth-pink: #ffc8ddff;
--light-blue: #a2d2ffff;
--pink: #ffafccff;
--pastel-blue: #bde0feff;
--light-purple: #cdb4dbff;

}
.img-350{
   
    height: 350px;
}
.avatar{
    width: 100px;
    height: 100px;
}
a{
    text-decoration: none;
}

.bg-light-pink{
    background-color: var(--ligth-pink);
}
.bg-pastel-blue{
    background-color: var(--pastel-blue);
}